VITE_VOLTAGE_API_KEY=vltg_123xyz
VITE_VOLTAGE_ORG_ID=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
VITE_VOLTAGE_ENV_ID=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
VITE_VOLTAGE_WALLET_ID=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
VITE_TIP_JAR_NAME="Awesome Bitcoin Tip Jar"
VITE_TIP_JAR_SLOGAN="Send bitcoin is a rad thing to do"